In [1]:
from pyspark.sql import functions as F
from pyspark.sql.functions import *
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
from pyspark.sql import SparkSession

# Create a spark session
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .getOrCreate()
)

In [3]:
path_list = []
period1 = pd.date_range('2021-2-28','2021-08-27', freq='D').strftime("%Y-%m-%d").tolist()
period2 = pd.date_range('2021-8-28','2022-02-27', freq='D').strftime("%Y-%m-%d").tolist()
period3 = pd.date_range('2022-2-28','2022-08-28', freq='D').strftime("%Y-%m-%d").tolist()
path_prefix1 = '../data/tables/transactions_20210228_20210827_snapshot/order_datetime='
path_prefix2 = '../data/tables/transactions_20210828_20220227_snapshot/order_datetime='
path_prefix3 = '../data/tables/transactions_20220228_20220828_snapshot/order_datetime='
##for date in period1:
##    path_list.append(path_prefix1 + date)
##for date in period2:
##   path_list.append(path_prefix2 + date)
##for date in period3:
##    path_list.append(path_prefix3 + date)

##raw_transactions_df = spark.read.parquet(*path_list)

In [4]:
##raw_transactions_df.show(5)

+-------+------------+------------------+--------------------+
|user_id|merchant_abn|      dollar_value|            order_id|
+-------+------------+------------------+--------------------+
|  14935| 79417999332|136.06570809815838|23acbb7b-cf98-458...|
|      1| 46451548968| 72.61581642788431|76bab304-fa2d-400...|
|  14936| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|
|      1| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|
|  14936| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|
+-------+------------+------------------+--------------------+
only showing top 5 rows

In [4]:
# add a column of date
from pyspark.sql.functions import lit

In [6]:
dfSchema = spark.read.parquet('../data/tables/transactions_20210228_20210827_snapshot/order_datetime=2021-02-28')
dfSchema.schema

StructType([StructField('user_id', LongType(), True), StructField('merchant_abn', LongType(), True), StructField('dollar_value', DoubleType(), True), StructField('order_id', StringType(), True)])

In [5]:
# Create a empty dataframe to 

from pyspark.sql.types import StructType,StructField, StringType, LongType, DoubleType, IntegerType
emptyRDD = spark.sparkContext.emptyRDD()
schema = StructType([StructField('user_id', LongType(), True), StructField('merchant_abn', LongType(), True), StructField('dollar_value', DoubleType(), True), StructField('order_id', StringType(), True), StructField('date', IntegerType(), False)])
df = spark.createDataFrame(emptyRDD,schema)
df

+-------+------------+------------+--------+----+
|user_id|merchant_abn|dollar_value|order_id|date|
+-------+------------+------------+--------+----+
+-------+------------+------------+--------+----+

In [10]:
## Test
##period4 = pd.date_range('2021-2-28','2021-03-27', freq='D').strftime("%Y-%m-%d").tolist()
##for date in period4:

##   tep = spark.read.parquet(path_prefix1 + date)
    
##   tep = tep.withColumn("dateInInt", lit(date))
##   df = df.union(tep)

In [11]:
#df.show

<bound method DataFrame.show of +-------+------------+------------------+--------------------+----------+
|user_id|merchant_abn|      dollar_value|            order_id|      date|
+-------+------------+------------------+--------------------+----------+
|      1| 28000487688|133.22689421562643|0c37b3f7-c7f1-48c...|2021-02-28|
|  18485| 62191208634| 79.13140006851712|9e18b913-0465-4fd...|2021-02-28|
|      1| 83690644458|30.441348317517228|40a2ff69-ea34-465...|2021-02-28|
|  18488| 39649557865| 962.8133405407585|f4c1a5ae-5b76-40d...|2021-02-28|
|      2| 80779820715| 48.12397733548124|cd09bdd6-f56d-489...|2021-02-28|
|  18489| 43186523025| 98.14878546968934|9008a98e-1b02-4de...|2021-02-28|
|      3| 29566626791| 46.33087226118639|26b7574e-81c2-455...|2021-02-28|
|  18490| 93558142492|232.83335268750145|2bda0665-796f-4f2...|2021-02-28|
|      3| 32361057556| 87.34942171371054|633a7656-2fcc-4b8...|2021-02-28|
|  18491| 64974914166|130.12601873970038|4bc15338-83eb-43d...|2021-02-28|
|      5| 83177825742| 66.66426160206629|43e3b3fe-791b-47f...|2021-02-28|
|  18493| 43186523025| 69.75645555605993|6c494428-b293-459...|2021-02-28|
|      6| 21772962346|113.04510652600983|000ca5ac-3247-4ef...|2021-02-28|
|  18493| 67979471799| 53.03432496202065|dd61feff-5aa3-43d...|2021-02-28|
|      7| 66079287213| 89.93535555889761|50a5619d-0647-487...|2021-02-28|
|  18494| 49891706470|21.995368431723854|faac27e9-c054-44d...|2021-02-28|
|     11| 98269572896|129.46280909485031|8f5d0cab-8055-435...|2021-02-28|
|  18495| 66667026714|  48.3228941934147|ca150cbf-6e34-489...|2021-02-28|
|     11| 20692490685|196.93916081228323|09bc8dd6-419f-4cb...|2021-02-28|
|  18496| 60956456424| 82.30827454121753|d9df2270-6fb9-46e...|2021-02-28|
+-------+------------+------------------+--------------------+----------+
only showing top 20 rows
>

In [6]:

for date in period1:

    tep = spark.read.parquet(path_prefix1 + date)
    
    tep = tep.withColumn("date", lit(date))
    df = df.union(tep)

In [7]:
for date in period2:

    tep = spark.read.parquet(path_prefix2 + date)
    
    tep = tep.withColumn("date", lit(date))
    df = df.union(tep)

for date in period3:

    tep = spark.read.parquet(path_prefix3 + date)
    
    tep = tep.withColumn("date", lit(date))
    df = df.union(tep)