In [6]:
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from itertools import chain

In [11]:
import pandas as pd
import numpy as np

In [4]:
from pyspark.sql import SparkSession

# Create a spark session
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .getOrCreate()
)

22/08/29 16:56:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
raw_sdf1 = spark.read.parquet('../data/tables/consumer_user_details.parquet')

In [10]:
raw_sdf1.limit(10)

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
+-------+-----------+

In [13]:
raw_sdf2 = pd.read_csv('../data/tables/tbl_consumer.csv')
raw_sdf2

           name|address|state|postcode|gender|consumer_id
0       Yolanda Williams|413 Haney Gardens Apt. 742|WA...
1       Mary Smith|3764 Amber Oval|NSW|2782|Female|179208
2       Jill Jones MD|40693 Henry Greens|NT|862|Female...
3       Lindsay Jimenez|00653 Davenport Crossroad|NSW|...
4       Rebecca Blanchard|9271 Michael Manors Suite 65...
...                                                   ...
499994  Jessica Avila|508 Miranda Overpass Apt. 218|QL...
499995  Steven Thornton|7913 Schwartz Mission Suite 48...
499996  Christy Smith|5681 Zachary Mountain Apt. 060|N...
499997  Donna Sutton|54140 Jacob Point|VIC|3989|Female...
499998  Hannah Wilkins|61055 Long Valley|NSW|1755|Fema...

[499999 rows x 1 columns]

In [14]:
raw_sdf3 = spark.read.parquet('../data/tables/tbl_merchants.parquet')

In [15]:
raw_sdf3.limit(10)

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
|       Fusce Company|[(gift, card, nov...| 10206519221|
|Aliquam Enim Inco...|[(computers, comP...| 10255988167|
|    Ipsum Primis Ltd|[[watch, clock, a...| 10264435225|
|Pede Ultrices Ind...|([computer progra...| 10279061213|
|           Nunc Inc.|[(furniture, home...| 10323485998|
+--------------------+--------------------+------------+